<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target= "_blank" href="http:github.com/ryomamexico228">Ryoma Tsuboi</a>
  </p>
  <br>
  <p>
    Together they taught me bunch of coding
  </p>
  <p>
    if you want to learn also - start<a target="_blank" href="http://www.thefirehoseproject.com/">Firehose</a>
  </p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ryoma.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ryoma Tsuboi</h2>
    <br>
    <p class="text-center">I am Japanse</p>
  </div>
</div>
<br class="clear">
<br>
<br><br><br>
